<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div, header, section, aside, footer {
            box-sizing: border-box;
            border: 1px solid grey;
            padding: 2%;
            margin: 2%;
        }
        section {
            float: left;
            width: 58%;
        }
        aside {
            float: right;
            width: 34%;
        }
        footer {
            clear: both;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <h1>2-Column Layout</h1>
        </header>
        <section>
            <h3>Content</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus! Inventore, perspiciatis cum voluptatum culpa fugiat amet quis doloremque! Impedit optio enim id voluptas exercitationem nisi numquam odio possimus quos! <br><br> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quis nesciunt magni incidunt enim debitis unde earum, molestias dolor tempora amet, aperiam ad reprehenderit dolore, delectus quas totam nemo vel!
        </section>
        <aside>
            <h3>Sidebar</h3>
            <ul>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
            </ul>
        </aside>
        <footer>
            Copyright
        </footer>
    </div>
</body>
</html>